html {
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
header {
    background-color: #376996;
    padding: 40px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo {
    width: 7%;
    margin-left: 2%;
}
#header-title {
    font-size: 68px;
}

.navbar {
    display: flex;
    justify-content: left;
    background-color: #1D3461;
    border-bottom: 2px solid black;
    padding: 0;
}

.nav-button {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    width: 33.3%;
    background-color: #1D3461;
    border: none;
    transition-duration: 0.4s;
}

.nav-button a {
    text-decoration: none;
    color: white;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #376996;
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item {
    background-color: #cee1ea;
    margin: 10px;
    padding: 20px;
    border: 1px solid #b7d1de;
}
.left {
    width: 40%;
}
.right {
    width: 57%;
}
.municipality-text {
    text-align: center;
}
.center {
    width: 98%;
}

#age-chart-text{
    text-align:center;
}

#chart7 {
    height: 500px;
    width: 100%;
}

/*Css for sliders for index and Detail*/

.multi-range-slider {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}

.multi-range-slider .slider {
    position: relative;
    height: 10px;
    margin: 0 15px;
}

.multi-range-slider .slider .track,
.multi-range-slider .slider .range {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.multi-range-slider .slider .track {
    background-color: #f7f7f7;
}

.multi-range-slider .slider .range {
    background-color: #376996;
}

.multi-range-slider .slider .thumb {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98,0,238,.1);
    transition: box-shadow .3s ease-in-out;
}

.multi-range-slider .slider .thumb.left {
    left: 0;
    transform: translate(-15px, -10px);
}

.multi-range-slider .slider .thumb.right {
    right: 0;
    transform: translate(15px, -10px);
}

.multi-range-slider .slider .thumb.hover {
    box-shadow: 0 0 0 5px rgba(98,0,238,.1);
}

.multi-range-slider .slider .thumb.active {
    box-shadow: 0 0 0 5px rgba(98,0,238,.2);
}

.multi-range-slider input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

.multi-range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}

.multi-range-slider .slider-value {
    position: absolute;
    bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    font-weight: bold;
    }


.multi-range-slider .slider-value.index-slider-value {
   position: absolute;
    bottom: 120px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.multi-range-slider .slider-value.detail-slider-value {
    position: absolute;
    bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}


#confirm-button{
    background-color: #376996;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 30%;
    margin-left: 30%;
    border-radius: 12px;
}

#confirm-button:hover {
    background-color: #3AA655;
}

#reset-button {
    background-color: #376996;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 30%;
    margin-left: 10px;
    border-radius: 12px;
}

#reset-button:hover {
    background-color: #FF0000;
}

.female-chart {
    width: 30%;
    height: 30%;
}
.female-chart {
    width: 30%;
    height: 30%;
}
.center-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#title-gender {
    text-align:center;
}
.gender-paragraf {
    text-align:center;
    font-size: 20px;
}
.chart-females {
    margin: 3%;
    width: 25%;
}
.chart-males {
    margin: 3%;
    width: 25%;
}
.chart-both-genders {
    margin: 3%;
    width: 25%;

}
footer {
    padding: 10px;
    background-color: #376996;
    text-align:center;
    color: #ffffff;
}

/**Css for Detail*/
.center h2 {
    text-align: center;
    margin-bottom: 25px;
}


.deSo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.left-div {
    margin: 1%;
    width: 49%;
}

.left-div div {
   width: 100%;
   display: flex;
   flex-direction: row;
}

#left-deSo-statistics {
    padding: 5px;
}

.right-div {
    margin: 1%;
    width: 49%;
}


.right-div div {

    width: 100%;
    display: flex;
    flex-direction: row;
}

#right-deSo-statistics {
    padding: 5px;
}
  
.charts{
    width: 98% !important;
}
.deSo-container div[charts="charts"] {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#gender-paragraf-left,
#gender-paragraf-right,
#vaccination-over-time-paragraf-left,
#vaccination-over-time-paragraf-right {
    text-align: center;
    font-size: 20px;
}
.filters{
    display: flex;
    flex-direction: column;
    width: 19%;
    gap: 10px;
}
.dropdown-filter {
    border: solid 2px #6290C8;
    background-color: #1D3461;
    border-radius: 20px;
    color: white;
}

.age-slider-filter{
    width: 100%;

}

.right-div-filter {
    margin-left: 20%;
    width: 60%;
}


#title-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}