@model dynamic


<div class="chart-container" height="100%">

<canvas id="@Model.Id"></canvas>
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    var ctx = document.getElementById("@Model.Id");
    var myChart2 = new Chart(ctx, @Html.Raw(Model.JsonChart))

</script>

