@model DSUGrupp1.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}



@section LeftContent {
    <div class="municipality-text">
        <h1>Vaccinationsgrad i hela Östersunds kommun</h1>
    </div>
    @await Component.InvokeAsync("Chart", new { Id = "1", ChartModel = Model.Charts[0] })

}

@section RightContent {
    <h1 id="title-vaccination-over-time">Vaccinationstatistik över varje vecka</h1>
        <div class="chart-over-time">
            @await Component.InvokeAsync("Chart", new { Id = "3", ChartModel = Model.Charts[1] })
            <p class="vaccination-over-time-paragraf">Ett linjegram som visar antal vaccinerade per vecka under året.</p>
        </div>
}



@section CenterContentOne {

    <div class="age-chart">
    <h1 id="age-chart-text"> Vaccinationsstatistik utifrån åldersgrupper</h1>

        @await Component.InvokeAsync("Chart", new { Id = "chart7", ChartModel = Model.Charts[2] })

    </div>

    <div class="middle">
        <div class="multi-range-slider">
            <div id="left-value" class="slider-value index-slider-value"></div>
            <input type="range" id="input-left" min="16" max="100" value="16">
            <div id="right-value" class="slider-value index-slider-value"></div>
            <input type="range" id="input-right" min="0" max="85" value="85">

            <div class="slider">
                <div class="track"></div>
                <div class="range"></div>
                <div class="thumb left"></div>
                <div class="thumb right"></div>
            </div>

            <button id="confirm-button">Bekräfta</button>
            <button id="reset-button" onclick="resetChart()">Återställ </button>


        </div>
    </div>
}

@section CenterContentTwo {
    <h1 id="title-gender">Statistik fördelat efter kön </h1>
    <div class="center-two">
        <div class="chart-females">
            @await Component.InvokeAsync("Chart", new { Id = "4", ChartModel = Model.Charts[3] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent hos alla kvinnor.</p>
        </div>
        <div class="chart-males">
            @await Component.InvokeAsync("Chart", new { Id = "5", ChartModel = Model.Charts[4] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent hos alla män.</p>

        </div>
        <div class="chart-both-genders">
            @await Component.InvokeAsync("Chart", new { Id = "6", ChartModel = Model.Charts[5] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent mellan kvinnor och män.</p>

        </div>
    </div>
}




